@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
    'Inter',
    'Be Vietnam Pro',
    'Noto Sans',
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';

    /* DZFullStack Brand Colors */
    --color-primary-1: #ee3127;
    --color-primary-2: #f59321;
    --color-primary-3: #ffffff;

    /* Status Colors */
    --color-success: #05df72;
    --color-danger: #f54927;
    --color-warning: #ffdf20;
    --color-info: #155dfc;

    /* Gradient */
    --gradient-primary: linear-gradient(135deg, var(--color-primary-1), var(--color-primary-2));
}
